.banner_img{
    width: 100vw;
    height: 480px;
}

.carousel{
    height: 444px;
    width: 100%;
} 

@media (max-width:768px){
    .banner_img{
        object-fit: cover;
        height: 180px;
    }
}